{% extends "classroom/questions/layout.html" %}

{% block title %}
    Equest
{% endblock %}

{% block main %}
  <div class="jumbotron">
    <h1 class="display-5">Welcome to Equestpedia!</h1>
    <p class="lead">Equestpedia is a community for the students of Equest to post questions, submit answers and share their resources freely.</p>
    <hr class="my-4">
    <p class="lead">
{#      <a class="btn btn-primary btn-lg col-sm-3 col-lg-2" href="{% url 'login' %}" role="button">Login</a>#}
{#    </p>#}
{#    <p class="lead">#}
{#        <a class="btn btn-primary btn-lg col-sm-3 col-lg-2" href="{% url 'register' %}" role="button">Register</a>#}
      </p>
  </div>
{% endblock %}