AccessControl==4.2
Acquisition==4.6
argon2-cffi==20.1.0
asgiref==3.2.7
asn1crypto==0.22.0
astroid==2.4.1
async-generator==1.10
attrs==19.3.0
AuthEncoding==4.1
autopep8==1.4.4
backcall==0.1.0
beautifulsoup4==4.9.1
bleach==3.1.1
borg.localrole==3.1.8
braintree==3.32.0
BTrees==4.7.2
calmjs.parse==1.2.5
certifi==2019.9.11
cffi==1.14.0
Chameleon==3.8.1
chardet==3.0.4
Click==7.0
cmake==3.15.3
collective.monkeypatcher==1.2.1
colorama==0.4.3
cssselect==1.1.0
cycler==0.10.0
dateparser==0.7.2
DateTime==4.3
decorator==4.4.1
defusedxml==0.4.1
diazo==1.4.0
dj-database-url==0.5.0
Django==2.2.10
django-bootstrap4==1.1.1
django-crispy-forms==1.8.0
django-debug-toolbar==2.1
django-discover-runner==1.0
django-etc==1.2.0
django-filter==2.2.0
django-hitcount==1.3.3
django-mathfilters==1.0.0
django-misaka==0.2.1
django-model-utils==4.0.0
django-pandas==0.6.0
django-role-permissions==2.2.1
django-summernote==0.8.11.6
django-taggit==1.3.0
djangorestframework==3.11.0
dlib==19.20.0
dnspython==1.16.0
DocumentTemplate==3.3
docutils==0.16
entrypoints==0.3
et-xmlfile==1.0.1
ExtensionClass==4.4
face-recognition-models==0.3.0
fake-factory==9999.9.9
Faker==2.0.4
feedparser==5.2.1
five.customerize==2.0.1
five.intid==1.2.6
five.localsitemanager==3.2.2
future==0.18.2
gunicorn==20.0.4
houdini.py==0.1.0
icalendar==4.0.6
idna==2.8
ipykernel==5.1.4
ipynb==0.5.1
ipython==7.12.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
jdcal==1.4.1
jedi==0.16.0
jet-bridge-base==0.7.7
jet-django==1.0.2
Jinja2==2.11.1
joblib==0.14.1
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.0.0
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyter-server==0.1.1
jupyterlab==2.2.6
jupyterlab-pygments==0.1.1
jupyterlab-server==1.2.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
lxml==4.5.2
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.1.3
mccabe==0.6.1
misaka==2.1.1
Missing==4.1
mistune==0.8.4
mockup==3.2.0
MultiMapping==4.1
nbconvert==5.6.1
nbformat==5.0.4
notebook==6.1.3
numpy==1.18.1
oauthlib==2.0.1
opencv-python==4.1.2.30
openpyxl==3.0.3
pandas==1.0.1
pandocfilters==1.4.2
parso==0.6.1
PasteDeploy==2.1.0
Persistence==3.0
persistent==4.6.4
pickleshare==0.7.5
piexif==1.1.3
Pillow==7.2.0
pip-autoremove==0.9.1
Plone==5.2.2
plone.alterego==1.1.5
plone.api==1.10.2
plone.app.caching==2.0.6
plone.app.content==3.8.4
plone.app.contentlisting==2.0.2
plone.app.contentmenu==2.3.1
plone.app.contentrules==4.1.4
plone.app.contenttypes==2.1.8
plone.app.customerize==1.3.11
plone.app.dexterity==2.6.5
plone.app.discussion==3.4.2
plone.app.event==3.2.7
plone.app.i18n==3.0.6
plone.app.intid==1.1.4
plone.app.iterate==3.3.14
plone.app.layout==3.4.3
plone.app.linkintegrity==3.3.13
plone.app.locales==5.1.23
plone.app.lockingbehavior==1.0.7
plone.app.multilingual==5.6.1
plone.app.portlets==4.4.5
plone.app.querystring==1.4.13
plone.app.redirector==2.2.1
plone.app.registry==1.7.6
plone.app.relationfield==2.0.2
plone.app.textfield==1.3.4
plone.app.theming==4.1.2
plone.app.upgrade==2.0.33
plone.app.users==2.6.4
plone.app.uuid==2.0.2
plone.app.versioningbehavior==1.4.0
plone.app.viewletmanager==3.1.1
plone.app.vocabularies==4.2.0
plone.app.widgets==3.0.4
plone.app.workflow==4.0.2
plone.app.z3cform==3.2.1
plone.autoform==1.9.0
plone.batching==1.1.6
plone.behavior==1.3.2
plone.browserlayer==2.2.3
plone.cachepurging==2.0.2
plone.caching==1.2.2
plone.contentrules==2.0.10
plone.dexterity==2.9.7
plone.event==1.4.1
plone.folder==3.0.3
plone.formwidget.namedfile==2.1.0
plone.formwidget.recurrence==2.1.4
plone.i18n==4.0.6
plone.indexer==1.0.7
plone.intelligenttext==3.1.0
plone.keyring==3.1.2
plone.locking==2.2.4
plone.memoize==2.1.0
plone.namedfile==5.4.0
plone.outputfilters==4.0.1
plone.portlet.collection==3.3.3
plone.portlet.static==3.1.4
plone.portlets==2.3.2
plone.protect==4.1.5
plone.registry==1.1.6
plone.resource==2.1.2
plone.resourceeditor==3.0.2
plone.rest==1.6.1
plone.restapi==6.13.6
plone.rfc822==2.0.2
plone.scale==3.1.1
plone.schema==1.2.1
plone.schemaeditor==3.0.1
plone.session==3.7.5
plone.staticresources==1.3.0
plone.stringinterp==1.3.2
plone.subrequest==1.9.2
plone.supermodel==1.6.2
plone.synchronize==1.0.4
plone.theme==3.0.7
plone.transformchain==2.0.2
plone.uuid==1.0.6
plone.z3cform==1.1.3
plonetheme.barceloneta==2.1.7
ply==3.11
Products.BTreeFolder2==4.2
Products.CMFCore==2.4.8
Products.CMFDiffTool==3.3.1
Products.CMFDynamicViewFTI==6.0.3
Products.CMFEditions==3.3.4
Products.CMFFormController==4.1.2
Products.CMFPlacefulWorkflow==2.0.2
Products.CMFPlone==5.2.1
Products.CMFQuickInstallerTool==4.0.3
Products.CMFUid==3.0.2
Products.DateRecurringIndex==3.0.1
Products.DCWorkflow==2.4.1
Products.ExtendedPathIndex==4.0.0
Products.ExternalMethod==4.4
Products.GenericSetup==2.0.2
Products.MailHost==4.9
Products.MimetypesRegistry==2.1.6
Products.PlonePAS==6.0.6
Products.PluggableAuthService==2.4
Products.PluginRegistry==1.8
Products.PortalTransforms==3.1.8
Products.PythonScripts==4.12
Products.Sessions==4.6
Products.SiteErrorLog==5.4
Products.StandardCacheManagers==4.0.3
Products.statusmessages==5.0.5
Products.TemporaryFolder==5.3
Products.ZCatalog==5.1
Products.ZopeVersionControl==2.0.0
prometheus-client==0.7.1
prompt-toolkit==2.0.9
pyasn1==0.3.6
pyasn1-modules==0.1.5
pycodestyle==2.5.0
pycparser==2.20
pyfingerprint==1.5
Pygments==2.6.1
PyJWT==1.4.2
pylint==2.5.2
pyparsing==2.4.6
pypiwin32==223
pyrsistent==0.15.7
pyScss==1.3.7
pyserial==3.4
python-dateutil==2.8.1
python-decouple==3.3
python-gettext==4.0
python-social-auth==0.2.21
python3-openid==3.0.10
pytz==2020.1
pywin32==227
pywinpty==0.5.7
pyzmq==19.0.0
qtconsole==4.6.0
Record==3.5
regex==2019.11.1
repoze.xmliter==0.6
requests==2.22.0
requests-oauthlib==0.7.0
RestrictedPython==5.0
roman==3.3
scikit-learn==0.22.1
scipy==1.4.1
seaborn==0.10.0
Send2Trash==1.5.0
simplejson==3.17.0
six==1.13.0
sklearn==0.0
sleekxmpp==1.3.1
soupsieve==2.0.1
SQLAlchemy==1.3.11
sqlparse==0.3.1
tempstorage==5.1
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
toml==0.10.1
tornado==6.0.3
traitlets==4.3.3
transaction==3.0.0
tzlocal==2.0.0
Unidecode==1.1.1
Unipath==1.1
urllib3==1.25.7
voila==0.1.22
waitress==1.4.4
wcwidth==0.1.7
webencodings==0.5.1
WebOb==1.8.6
WebTest==2.0.35
whitenoise==5.2.0
widgetsnbextension==3.5.1
wrapt==1.12.1
WSGIProxy2==0.4.6
z3c.autoinclude==0.4.0
z3c.caching==2.2
z3c.form==4.1.2
z3c.formwidget.query==0.17
z3c.objpath==1.2
z3c.pt==3.3.0
z3c.relationfield==0.9.0
z3c.zcmlhook==1.0b1
zc.buildout==2.13.3
zc.lockfile==2.0
zc.relation==1.1.post2
ZConfig==3.5.0
zdaemon==4.3
ZEO==5.2.1
zExceptions==4.1
ZODB==5.6.0
ZODB3==3.11.0
zodbpickle==2.0.0
Zope==5.0a2
zope.annotation==4.7.0
zope.app.locales==4.1
zope.browser==2.3
zope.browsermenu==4.4
zope.browserpage==4.4.0
zope.browserresource==4.4
zope.cachedescriptors==4.3.1
zope.component==4.6.2
zope.componentvocabulary==2.2.0
zope.configuration==4.4.0
zope.container==4.4.0
zope.contentprovider==4.2.1
zope.contenttype==4.5.0
zope.copy==4.2
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.dottedname==4.3
zope.event==4.4
zope.exceptions==4.3
zope.filerepresentation==5.0.0
zope.globalrequest==1.5
zope.hookable==5.0.1
zope.i18n==4.7.0
zope.i18nmessageid==5.0.1
zope.interface==5.1.0
zope.intid==4.3.0
zope.keyreference==4.2.0
zope.lifecycleevent==4.3
zope.location==4.2
zope.pagetemplate==4.5.0
zope.processlifetime==2.3.0
zope.proxy==4.3.5
zope.ptresource==4.2.0
zope.publisher==5.2.1
zope.ramcache==2.3
zope.schema==6.0.0
zope.security==5.1.1
zope.sendmail==5.0
zope.sequencesort==4.1.2
zope.site==4.3.0
zope.size==4.3
zope.structuredtext==4.3
zope.tal==4.4
zope.tales==5.1
zope.testbrowser==5.5.1
zope.testing==4.7
zope.traversing==4.4.1
zope.viewlet==4.2.1
Zope2==4.0
