{% extends "questions/layout.html" %}

{% block title %}
    {{ user.username }}'s profile
{% endblock %}

{% block main %}
    <div class="jumbotron">
    <h1 class="display-3">{{ user.username }}</h1>
    <!-- <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p> -->
    <hr class="my-4">
    <h4 class="display-5">Questions asked: {{ user.userqns.count }}</h4>
    <h4 class="display-5">Answers posted: {{ user.userans.count }}</h4>
    <h3 class="lead">
        <a class="btn btn-secondary btn-lg" href="{% url 'equestpedia' %}" role="button">Back to Home</a>
    </h3>
    </div>
{% endblock %}