{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text">We build tools for your use to you meet your customer’s needs, drive sales and help make better business decisions
Learn, Build, Train. At Equest tech our trainings are with professionals who have real life experiences.</p>
        <a class="btn btn-danger"
           href="#">Know more!</a>
    </div>
</div>
</div>

{% endblock sidebar %}