{% extends "classroom/questions/layout.html" %}

{% load static %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    {% include 'classroom/common4questions/message.html' %}

    <!-- https://docs.djangoproject.com/en/3.0/topics/forms/ -->
    <!-- https://stackoverflow.com/questions/33763452/applying-css-styles-to-form-items-in-django -->
    <form action="{% url 'submitqn' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }} {{ field }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit Question</button>
    </form>

    <hr>
    <i class="fas fa-spinner fa-2x fa-pulse"></i>
    <br><br>


    <h2><strong>All Posts</strong></h2>

    {% for qn in questions %}
        {% include 'common/question.html' %}
    {% endfor %}

    <!-- https://getbootstrap.com/docs/4.4/components/pagination/#alignment -->
    <!-- https://stackoverflow.com/questions/42795717/how-to-avoid-repetition-on-templates-in-django -->
    {% include 'common/pagination.html' with page_obj=questions %}
{% endblock %}

{% block script %}
    <script src="{% static 'questions/bookmark.js' %}"></script>
{% endblock %}