{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0"> -->
        <link rel="icon" href="{% static 'questions/edu.png' %}"> 
        <link rel="stylesheet" href="{% static 'questions/styles.css' %}">
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/cosmo/bootstrap.min.css" rel="stylesheet" integrity="sha384-9/chHLTCcBULgxOFoUyZXSgEF0uFXs+NrQqzcy/DXqcR+Sk8C1l4EgmUXAEzTb92" crossorigin="anonymous">        

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/c06fd66987.js" crossorigin="anonymous"></script>
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="{% url 'equestpedia' %}">Equest</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav  ml-auto mt-2">
                {% if request.user.is_authenticated %}
                <li class="nav-item active">
                  <a class="nav-link" href="#">{{ request.user.username }} <span class="sr-only">(current)</span></a>
                </li>
{#                    I feel There is no need to view profile questions answered as we want everything to be in uniform#}
{#                    In the future i wish to add this so that the student can view there progress on the site#}
{#                <li class="nav-item">#}
{#                  <a class="nav-link" href="{% url 'viewprofile' request.user.username %}">My Profile</a>#}
{#                </li>#}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'viewsavedqns' %}">Saved Questions</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'home' %}">Back Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'search' %}">Search</a>
                </li>
                {% else %}
                <li class="nav-item active navbar-right">
                  <a class="nav-link" href="{% url 'classroom:login' %}">Login <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item navbar-right">
                  <a class="nav-link" href="{% url 'classroom:StudentSignUp' %}">Register</a>
                </li>
                {% endif %}
              </ul>

              {% if request.user.is_authenticated %}
              <ul class="navbar-nav ml-auto mt-2">
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Log Out</a></li>
              </ul>
              {% endif %}

              
            </div>
          </nav>

        
        <main class=" container p-5">
            {% block main %}
            {% endblock %}
        </main>
    </body>

    <footer class="small text-center text-muted"> Equest Technical Resources 2020 </footer>
</html>
